<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-dark custom-font-weight">Covid19</a>
  <ul class="nav nav-pills w-100 d-flex justify-content-end">
    <li class="nav-item nav-item">
      <button routerLink="/accueil" class="nav-link text-dark">Accueil<i class="bi text-success"></i></button>
    </li>
    <li class="nav-item">
      <button routerLink="/symptomes" class="nav-link text-dark">Symptômes<i class="bi text-success"></i></button>
    </li>
    <li class="nav-item">
      <button routerLink="/blog" class="nav-link text-dark">Blog<i class="bi text-success"></i></button>
    </li>
    <li class="nav-item-first">
      <button routerLink="/contact" class="nav-link text-dark">Contact<i class="bi text-success"></i></button>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
